* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
:root {
  --mainColorDark: #5b5b5b;
  --mainColorLight: #898989;
  --bgColor: #f7f7f7;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar {
  height: 10vh;
  justify-content: end;
  font-size: 1.2rem;
  padding-top: 0.5rem;
}
.nav-bar svg {
  background-color: var(--mainColorDark);
  color: var(--bgColor);
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 50%;
}
.hero {
  height: 90vh;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin: 0 1rem;
}
.hero h1 {
  font-size: 2rem;
  color: var(--mainColorDark);
  margin: 2rem 0;
}
.hero p {
  font-size: 0.9rem;
  color: var(--mainColorLight);
  line-height: 2rem;
}
.hero img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.hero .details {
  height: 60%;
  margin-top: -1rem;
  flex-direction: column;
  justify-content: space-around;
}
.btn {
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 1rem;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.6rem;
  background-color: transparent;
  border: 1px solid var(--mainColorLight);
  cursor: pointer;
  color: var(--mainColorDark);
  font-weight: bold;
}
/* media query for  tablets, portrait*/
@media (min-width: 768px) {
  .hero {
    width: 80%;
    justify-content: space-evenly;
    margin: auto;
    flex-direction: row;
  }
  .hero img {
    width: 330px;
    height: 330px;
  }
  .hero .details {
    width: 50%;
    align-items: start;
    justify-content: space-around;
    text-align: start;
  }
  .hero .details h1 {
    font-size: 3rem;
  }
  .hero .details p {
    margin-top: -2rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .hero .btn {
    width: 170px;
    font-size: 0.8rem;
    padding: 1rem 1rem;
  }
}
/* media query for  laptops, and desktops*/
@media (min-width: 1024px) {
}
