* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainColorDark: #5b5b5b;
  --mainColorLight: #898989;
  --bgColor: #f7f7f7;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media query for  tablets, portrait*/
@media (min-width: 768px) and (max-width: 1023px) {
}
/* media query for  laptops, and desktops*/
@media (min-width: 1024px) {
}
