* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
:root {
  --mainColorDark: #5b5b5b;
  --mainColorLight: #898989;
  --bgColor: #f7f7f7;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar {
  height: 10vh;
  justify-content: end;
  font-size: 1.2rem;
  padding-top: 0.5rem;
}
.nav-bar svg {
  background-color: var(--mainColorDark);
  color: var(--bgColor);
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 50%;
}
.hero {
  height: 90vh;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin: 0 1rem;
}
.hero h1 {
  font-size: 2rem;
  color: var(--mainColorDark);
  margin: 2rem 0;
}
.hero p {
  font-size: 0.9rem;
  color: var(--mainColorLight);
  line-height: 2rem;
}
.hero img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.hero .details {
  height: 60%;
  margin-top: -1rem;
  flex-direction: column;
  justify-content: space-around;
}
.btn {
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 1rem;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.6rem;
  background-color: transparent;
  border: 1px solid var(--mainColorLight);
  cursor: pointer;
  color: var(--mainColorDark);
  font-weight: bold;
}

.second-section {
  background-color: var(--bgColor);
  padding: 4rem 1rem;
  text-align: center;
}
.second-section p {
  color: var(--mainColorLight);
  margin: 1.5rem 0;
  line-height: 1.5rem;
}
.description {
  width: 80%;
  margin: 2rem auto;
  padding: 2rem 0;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
}
.description h2 {
  color: var(--mainColorDark);
  font-size: 0.9rem;
}

.line {
  height: 1px;
  width: 20%;
  background-color: black;
  margin: auto;
}

.second-section .icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: var(--mainColorDark);
  width: 80%;
  margin: auto;
}

.second-section .icons .line {
  display: none;
}
.second-section .icons .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 1px solid var(--mainColorLight);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.third-section {
  padding: 4rem 1rem;
  text-align: center;
}

.third-section .btn {
  width: 80%;
}
.third-section p {
  margin: auto;
}
.card {
  min-height: 330px;
  width: 80%;
  margin: 2rem auto;
}
.card h2 {
  color: var(--mainColorDark);
}
.card p {
  color: var(--mainColorLight);
  width: 100%;
}
.card img {
  width: 100%;
  height: 300px;
  margin-bottom: 3rem;
}
.card h2,
.card .btn {
  margin: 2rem 0;
}
.third-section .conclusion {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}
.third-section .conclusion .btn {
  margin-bottom: 1rem;
}
.fourth-section {
  height: 400px;
  margin: auto;
  margin-bottom: 0;
  color: #fff;
  background: url("../images/town.jpg") center/cover;
  filter: blur(0.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.fourth-section .blur-bg {
  background-color: rgba(91, 80, 87, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.fourth-section .description .line {
  background-color: #fff;
}
.fourth-section .description h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.contact-section {
  background-color: var(--bgColor);
  padding: 3rem 0;
  height: 100%;
}
.contact-section .card div {
  text-align: center;
}
.social-icons-wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 70%;
  margin: 1.5rem 0;
}
.social-icons-wrapper div {
  border: 1px solid var(--mainColorDark);
  font-size: 2rem;
  max-width: 50px;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1.8rem;
  color: var(--mainColorDark);
}
.inputs-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 2rem;
  min-width: 100%;
}
.inputs-data input {
  border: 1px solid var(--mainColorLight);
  border-radius: 5px;
  padding: 0.5rem;
  min-width: 50%;
}
form textarea {
  min-width: 100%;
}
/* media query for  tablets, portrait*/
@media (min-width: 768px) {
  .hero {
    width: 80%;
    justify-content: space-evenly;
    margin: auto;
    flex-direction: row;
  }
  .hero img {
    width: 330px;
    height: 330px;
  }
  .hero .details {
    width: 50%;
    align-items: start;
    justify-content: space-around;
    text-align: start;
  }
  .hero .details h1 {
    font-size: 3rem;
  }
  .hero .details p {
    margin-top: -2rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .hero .btn {
    width: 170px;
    font-size: 0.8rem;
    padding: 1rem 1rem;
  }
  .description {
    max-width: 500px;
  }
  .description h2 {
    font-size: 1.8rem;
  }
  .line {
    width: 10%;
  }

  .second-section .icons {
    justify-content: center;
  }
  .second-section .icons .line {
    display: block;
    margin: 0;
  }
  .second-section .btn {
    width: 100px;
  }
  .second-section p {
    width: 80%;
    margin: 2rem auto;
  }
  .third-section .reverse {
    flex-direction: row-reverse;
  }
  .third-section .card {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    height: 330px;
    gap: 2rem;
  }
  .third-section .card img {
    width: 50%;
  }
  .third-section .card div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .third-section .card div .line {
    width: 17%;
  }
  .third-section .btn {
    width: 100px;
    margin-top: 3rem;
  }

  .contact-section .card {
    display: flex;
    justify-content: space-between;
  }
  .contact-section .card div {
    width: 45%;
    text-align: start;
  }
  .contact-section .card div .line {
    margin-right: 100%;
    width: 20%;
  }
  .inputs-data {
    flex-direction: row;
  }
  form .btn {
    width: 150px;
  }
}
